*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/discord.xml
.DS_Store
/app/build
/app/release
/app/google-services.json
/captures
.externalNativeBuild
.cxx
local.properties
